{% extends 'Admin/base.html.twig' %}
{% set page_title="Members" %}
{% block body %}
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Edit
        </th>
    </tr>
    {% for member in members %}
        <tr>
            <td>
                {{ member.firstName }}<br />
            </td>
            <td>
                {{ member.lastName }}<br />
            </td>
            <td>
                {{ member.email }}<br />
            </td>
            <td>
                <a class="btn btn-info" href="{{ path('app_admin_member_show', {'id': member.id}) }}">Show</a>

                <a class="btn btn-primary" href="{{ path('app_admin_member_edit', {'id': member.id}) }}">Edit</a>

                <a class="btn btn-warning" href="{{ path('app_admin_member_delete', {'id': member.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{{ path('app_admin_member_create') }}">Create New Member</a>
{% endblock %}
{% block stylesheets %}
{% endblock %}
