{% extends 'Admin/base.html.twig' %}
{% set page_title="Club" %}
{% block body %}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Treasury
        </th>
        <th>
            Edit
        </th>
    </tr>
    <tr>
        <td>
            {{ club.name }}<br />
        </td>
        <td>
            {{ club.description }}<br />
        </td>
        <td>
            ${{ club.treasury|number_format(2) }}<br />
        </td>
        <td>
            <a class="btn waves-effect waves-lighten blue lighten-1" href="{{ path('app_admin_club_edit', {'id': club.id}) }}">Edit</a>
        </td>
    </tr>
</table>
    <h5>Club Members</h5>
<table class="responsive-table striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {% for user in club.users %}
    <tr>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{{ path('app_admin_club_list_all') }}">Back to the list</a>
{% endblock %}
{% block stylesheets %}
{% endblock %}
