{% extends 'base.html.twig' %}
{% set page_title="Welcome" %}
{% block body %}
    <div class="row">

        <div class="col s4">
            <div class="card-panel blue-grey darken-1">
              <span class="white-text">
                  There are {{ allUsers|length }} users. <br />
                  <a href="{{ path('app_admin_user_list_all') }}">Member Admin Page</a>
              </span>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel blue-grey darken-1">
              <span class="white-text">
                  There are {{ allClubs|length }} clubs.<br />
                  <a href="{{ path('app_admin_club_list_all') }}">Club Admin Page</a>
              </span>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel blue-grey darken-1">
              <span class="white-text">
                  There are {{ allEvents|length }} events.<br />
                  <a href="{{ path('app_admin_event_list_all') }}">Event Admin Page</a>
              </span>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}
