{% if error %}
    <div class="orange-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="input-field">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <label for="username">username</label>
    </div>
    <div class="input-field">
    <input type="password" id="password" name="_password" required="required" />
    <label for="password">password</label>
        <br />
        <sup>
            <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
        </sup>
    </div>
    <div>
        <button class="btn waves-effect waves-light orange" type="submit" value="">
            submit
            <i class='material-icons right'>send</i>
        </button>
    </div>
</form>
