{% extends 'base.html.twig' %}
{% set page_title=event.name ~ " Edit" %}
{% block body %}
    <div class="row">
        <div class="section col s12 l8 offset-l2">
            {{ form_start(form) }}
            <div class="input-field">
                {{ form_row(form.name) }}
            </div>
            <div class="input-field">
                {{ form_row(form.description) }}
            </div>
            <div class="input-field">
                {{ form_row(form.date) }}
            </div>
            <div class="input-field">
                {{ form_row(form.time) }}
            </div>
            <div class="input-field">
                {{ form_row(form.estimatedCost) }}
            </div>
            {{ form_widget(form) }}
            <button type="submit"class="btn waves-effect waves-lighten blue lighten-1">Submit</button>
            <br />
            <br />
            <a href="{{ path('app_index') }}">Back to the list</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
