{% extends 'base.html.twig' %}
{% set page_title=event.name %}
{% block body %}
<div class="row">
    <div class="section col s12 l8 offset-l2">
        <div class="card grey lighten-4">
            <div class="card-content">
                <span class="card-title">{{ event.name }}</span>
                <p>(<strong>{{ event.date|date('M/d/Y') ~ ' ~ ' ~ event.time|date('h:m a') }})</strong></p>
                <p>
                    <strong>Description:</strong> {{ event.description }}
                </p>
                <p>
                    <strong>Estimated cost:</strong> ${{ event.estimatedCost }}
                </p>
                <p>
                    <strong>Event host:</strong> {{ event.owner.userName }}

                </p>
                {% if event.status == 'Voting is open.' %}
                <p>
                    <strong>Event status:</strong> Voting is open! Vote for this event below.
                </p>
                {% else %}
                <p>
                    <strong>Event status:</strong> {{ event.status }}
                </p>
                {% endif %}
                    <h5>Current Score: {{ event.voteTotal }}</h5>
                {% if app.user == event.owner %}
                    <br />
                    <span class="blue-text">
                        (You're the event host.
                        You can edit or delete this event using the blue menu on the bottom right of this page.)
                    </span>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{{ path('app_event_vote_yes', {'id': event.id}) }}"
                   class="btn waves-effect waves-light cyan darken-1" {{ voteYes == true ? 'disabled' }}>
                    <i class="material-icons">thumb_up</i> Yep!
                </a>
                <a href="{{ path('app_event_vote_no', {'id': event.id}) }}"
                   class="btn waves-effect waves-ligt red lighten-2" {{ voteNo == true ? 'disabled' }}>
                    <i class="material-icons">thumb_down</i> No
                </a>
            </div>
        </div>
    </div>
</div>
    {% if user == event.owner %}
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large blue lighten-1">
                <i class="material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating orange accent-2" href="{{ path('app_event_delete', {'id': event.id}) }}" title="delete this event"><i class="material-icons">delete_forever</i></a></li>
                <li><a class="btn-floating blue lighten-1" href="{{ path('app_event_edit', {'id': event.id}) }}" title="edit this event"><i class="material-icons">mode_edit</i></a></li>
            </ul>
        </div>
    {% endif %}
<div class="row">
    <div class="section col s12 l8 offset-l2">
        <p>
            <a href="{{ path('app_index') }}">Back to the list</a>
        </p>
    </div>
</div>
{% endblock %}

