{% extends 'base.html.twig' %}
{% set page_title=event.name %}
{% block body %}
<div class="row">
    <div class="section col s8">
        <h5>{{ event.name }}</h5>
        <p>
            {{ event.date|date('M/d/Y') ~ ' ~ ' ~ event.time|date('h:m a') }}
        </p>
        <p>
            {{ event.description }}
        </p>
        <table>
            <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Score
                </th>
                <th>
                    Vote on this event
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ event.status }}
                </td>
                <td>
                    {{ event.voteTotal }}
                </td>
                <td>
                    <a href="{{ path('app_event_vote_yes', {'id': event.id}) }}" class="btn waves-effect waves-light teal" {{ voteYes == true ? 'disabled' }}>Yep!</a>
                    <a href="{{ path('app_event_vote_no', {'id': event.id}) }}" class="btn waves-effect waves-ligt red lighten-2" {{ voteNo == true ? 'disabled' }}>No</a><br />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    {% if user == event.owner %}
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large blue lighten-1">
                <i class="material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating orange accent-2" href="{{ path('app_event_delete', {'id': event.id}) }}" title="delete this event"><i class="material-icons">delete_forever</i></a></li>
                <li><a class="btn-floating blue lighten-1" href="{{ path('app_event_edit', {'id': event.id}) }}" title="edit this event"><i class="material-icons">mode_edit</i></a></li>
            </ul>
        </div>
    {% endif %}
<a href="{{ path('app_index') }}">Back to the list</a>
{% endblock %}

