{% extends 'base.html.twig' %}
{% set page_title="Welcome " ~ user.userName %}
{% block body %}
    <div class="row">
        <div class="section col s12 l6">
            <h5>Hi {{ user.userName }},</h5>
            <p>
                You haven't chosen a club yet.
            </p>
                Select a club:
            <ul class="collection">
                {% for club in clubs %}
                    <li class="collection-item avatar">
                        <a href="{{ path('app_club_join', {'club': club.id}) }}">
                            <img src="{{ asset('img/large_image.jpg') }}" class="circle" />
                            <i class="material-icons circle cyan darken-3">account_box</i>
                        </a>
                        <span class="title"><a href="{{ path('app_club_join', {'club': club.id}) }}">{{ club.name }}</a></span>
                        <span class="secondary-content hide-on-med-and-down">
                             <a href="{{ path('app_club_join', {'club': club.id}) }}" class="btn waves-effect waves-light cyan darken-1">Join this Club</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
