{% extends 'Admin/base.html.twig' %}
{% set page_title="Events" %}
{% block body %}
    <table class="table highlight">
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Event Description
            </th>
            <th>
                Date
            </th>
            <th>
                Edit
            </th>
        </tr>
        {% for event in events %}
            <tr>
                <td>
                    {{ event.name[:20] ~ '...' }}<br />
                </td>
                <td>
                    {{ event.description[:20] ~ '...' }}<br />
                </td>
                <td>
                    {{ event.date|date('m/d/Y') }}<br />
                </td>
                <td>
                    <a class="btn waves-effect waves-lighten" href="{{ path('app_admin_event_show', {'id': event.id}) }}">Show</a>

                    <a class="btn waves-effect waves-lighten blue lighten-1" href="{{ path('app_admin_event_edit', {'id': event.id}) }}">Edit</a>

                    <a class="btn waves-effect waves-lighten red lighten-2" href="{{ path('app_admin_event_delete', {'id': event.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <a class="btn waves-effect waves-lighten blue lighten-1" href="{{ path('app_admin_event_create') }}">Create New Event</a>
{% endblock %}
{% block stylesheets %}
{% endblock %}
