{% extends 'Admin/base.html.twig' %}
{% set page_title="Event" %}
{% block body %}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Date
        </th>
        <th>
            Edit
        </th>
    </tr>
    <tr>
        <td>
            {{ event.name }}<br />
        </td>
        <td>
            {{ event.description }}<br />
        </td>
        <td>
            {{ event.date|date('Y-m-d') }}<br />
        </td>
        <td>
            <a class="btn btn-default" href="{{ path('app_admin_event_edit', {'id': event.id}) }}">Edit</a>
        </td>
    </tr>
</table>
<a href="{{ path('app_admin_event_list_all') }}">Back to the list</a>
{% endblock %}
{% block stylesheets %}
{% endblock %}
